// page-home {

// }

h1, p{
    text-align: center;
    font-family: 'Noto Serif', serif;
}

#about{
    display: block;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    
}


h1{
    font-size: 30px;
}





