// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


// All of these css properties werer used on various pages throughout the app
// Some were used as a template for the theme of the app, and were therefore
// used on all of the pages. It was easier to do this than to reimplement
// the theme on everypage. It also somehow allowed me to have that neat
// hoverover effect on the buttons

.bg-style{
    background: #CDE9F7;
}

.toolbar-background{
    background-color: #87BCD1;
}

ion-menu{
    ion-content{
     background-color:#224769 !important;
    }
}

.ion-button, .sidemenubuttons{
    background-color: #5D8EBF;
}

.createCard{
    background-color: rgba(22, 150, 189, 0.418)
}

.folder{
    background-color: #5D8EBF;
}

.googleButton{
    background-color: rgba(228, 239, 247, 0.815);
}

.login{
    background-color: rgba(116, 183, 255, 0.822);
}

.forgotPW{
    background-color: rgba(101, 153, 248, 0.89);
}

.createacnt{
    background-color: rgba(48, 127, 247, 0.822);
}

.removeButton{
    background-color: rgba(253, 23, 23, 0.692)
}
